@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Фирма по ремонту компьютерной техники</h1>
    <p>Ваш надежный партнер в мире технологий!</p>


    <div class="gallery">
        <div class="gallery-item">
            <img src="glass.jpg">
            <h2>Замена стекла на планшете AIR</h2>
           
        </div>
        <div class="gallery-item">
            <img src="camera.jpg">
            <h2>Замена камеры на iPhone 12 Pro</h2>
        </div>
        <div class="gallery-item">
            <img src="batarei.jpg">
            <h2>Замена аккумулятора на iPhone 12 Pro</h2>
        </div>
    </div>
    
    
</div>
