@{
    ViewData["Title"] = "Ремонт компьютеров в вашем городе!";
}
<h1>@ViewData["Title"]</h1>

<p>Наша компания предлагает профессиональные услуги по ремонту и обслуживанию компьютеров, ноутбуков и другой компьютерной техники. Мы понимаем, насколько важно иметь работающее оборудование, поэтому наши специалисты готовы помочь вам в любое время.</p>

    <h2 class="bold">Наши услуги:</h2>
    <ul class="services">
        <li class="bold">• Диагностика и устранение неполадок</li>
        <li class="bold">• Замена компонентов</li>
        <li class="bold">• Установка и настройка программного обеспечения</li>
        <li class="bold">• Очистка от пыли и охлаждение системы</li>
        <li class="bold">• Восстановление данных</li>
    </ul>

    <h2 class="bold">Почему выбирают нас?</h2>
    <ul class="services">
        <li class="bold">• Опытные мастера с многолетним опытом</li>
        <li class="bold">• Быстрая и качественная работа</li>
        <li class="bold">• Гарантия на все услуги</li>
        <li class="bold">• Индивидуальный подход к каждому клиенту</li>
    </ul>

    <h2 class="bold">Связаться с нами!</h2>
    <p>Если у вас есть какие-либо вопросы или вам нужен ремонт, не стесняйтесь обращаться:</p>
    <ul class="contact-info">
        <li class="bold">• Телефон: +7 (876) 863-74-94.</li>
        <li class="bold">• Электронная почта: info@remonttech.ru.</li>
        <li class="bold">• Адрес: ул. Примерная, д. 1, офис 2</li>
        <li class="bold">• Сайт: www.remonttech.ru.</li>
    </ul>

    <p>Мы всегда рады Вам помочь! Ваши компьютеры в надежных руках!</p>
    <a href="Company.html" class="button">Вернутся на главную страницу</a>
